* {
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

.wrapper {
    height: 90vh;
    width: 90vw;
}

header {
    display: inline-block;
    margin-top: 44px;
    margin-left: 76px;
}

.link-header {
font-size: 24px;
font-weight: 600;
color: rgba(152, 157, 156, 1);
margin-right: 23px;
cursor: pointer;
line-height: 29px;
}

a:hover {
    opacity: 0.5;
    color: black;
}

a:active {
    opacity: 0.9;
}

.header-button {
    width: 170px;
    height: 41px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    background: black ;
    border:none;
    border-radius: 50px;
    cursor:pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

.logo-image {
    width: 568px;
    height: 500px;  
    margin-bottom: 50px;
    margin-left: 125px;
    margin-right: 80px;
    margin-top: 100px;
    position: relative;
}


section {
    display: inline-block;
    margin-left: 86px;
    margin-top: 10px;
    margin-right: 10px;
}
h1 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
    width: 513px;
}

h2 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
    width: 513px;
}

p {
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin-top: 28px;
    margin-bottom: 50px;
    width: 515px;
}

.main-button {
    background: rgba(173, 255, 0, 1);
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border:none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 450px) {
    .container-left {
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 0;
    }

    .logo-image {
        position: static;
        max-width: 74%;

    }

    header{
        display: none;
    }

    h1 {
        font-size: 30px;
        line-height: 25px; 
        width: auto;
        height: auto;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: auto;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        line-height: 25px; 
        width: auto;
        height: auto;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: auto;
        margin-bottom: 20px;
        text-align: center;

    }

    p {
        display: none;
    }
    
    button{
        margin-left: 40px;
        margin-bottom: 10px;
        display: block;
        cursor: pointer;

    }
    
}