* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    height: 90vh;
    width: 90vw;
}

header {
    margin-top: 44px;
    margin-left: 76px;
}

a {
    font-size: 24px;
    font-weight: 600;
    color: rgba(152, 157, 156, 1);
    margin-right: 23px;
    cursor: pointer;
    line-height: 29px;
}

a:hover {
    opacity: 0.5;
    color: black;
}

a:active {
    opacity: 0.9;
}

.button-header {
    width: 170px;
    height: 41px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    background: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

.container-left {
    margin: 144px 0 0 125px;
    display: inline-block;
}

.logo-image {
    max-width: 568px;
    max-height: 500px;
    width: 100%;
}


.container-right {
    display: inline-block;
    margin: 10px 10px 0 86px;
}

h1 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
    width: 513px;
    margin: 0 0 15px 0;
    text-align: center;
}

h2 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
    width: 513px;
    margin: 0 0 15px 0;
    text-align: center;
}

p {
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-top: 28px;
    margin-bottom: 50px;
    width: 515px;
    height: 87px;
    text-align: center;
}

.button-section {
    background: rgba(173, 255, 0, 1);
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-left: 123px;
}

@media screen and (max-width: 500px) {

    header {
        display: none;
    }

    p {
        display: none;
    }

    .container-left {
        display: block;
        margin: auto;
        width: 100%;
    }

    img {
        margin: auto;
        margin-top: 149px;
        display: block;
        max-width: 354px;
        max-height: 317px;
    }

    .container-right {
        display: block;
        margin: auto;
        width: 100%;
    }

    h1 {
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        color: #515151;
        display: block;
        margin: auto;
        margin-top: 24px;
        width: auto;
        height: auto;
    }

    h2 {
        font-weight: 900;
        font-size: 50px;
        line-height: 61px;
        color: #515151;
        display: block;
        margin: auto;
        margin-top: 10px;
        width: auto;
        height: auto;
    }

    .button-section {
        margin-left: 60px;
        margin-bottom: 10px;
        margin-top: 30px;
        display: block;
        cursor: pointer;

    }


}